.row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: start;
	gap: var(--spacing-medium);
}

.card-lists {
	display: flex;
	flex-flow: row nowrap;
	align-items: start;
	gap: var(--spacing-medium);

	margin-block-start: var(--spacing-medium);
}

.card-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.card-list li:not(:first-child) {
	margin-top: -75%;
}

.empty-card-slot {
	font-size: 6em;
	width: 1em;
	height: 1.333em;

	background-color: var(--background-color-tertiary);
	border-radius: var(--border-radius-small);
}

.finished-actions {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--spacing-medium);

	margin-block-start: var(--spacing-medium);
}
