@using Elegance.Icons
@using Microsoft.AspNetCore.Components.Authorization
@using WebGames.Extensions
@using WebGames.Models
@using WebGames.Web.Components
@inherits LayoutComponentBase

<div class="container">
	<div class="sidebar">
		<div class="sidebar-header">
			<span class="app-logo">
				@(Icons.Joker)
			</span>
		</div>

		<Navigation />

		<AuthorizeView>
			<Authorized Context="auth">
				<AccountDisplay User="@(auth.User)" />
			</Authorized>
		</AuthorizeView>
	</div>

	<main class="content">
		@(Body)
	</main>
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>
