@using WebGames.Web.Components
@inherits LayoutComponentBase

<div class="container">
	<div class="sidebar">
		<div>
			WebGames
		</div>

		<Navigation />
	</div>

	<main class="content">
		@(Body)
	</main>
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>
