@page "/error"
@using Microsoft.Extensions.Localization
@using WebGames.Web.Components
@using WebGames.Web.Layout
@layout MainLayout

<AppPageTitle Title="@(Localizer["Title"])" />

<h1 class="text-danger">@(Localizer["Title"])</h1>
<h2 class="text-danger">@(Localizer["Subtitle"])</h2>

@code {

	[Inject] public required IStringLocalizer<ErrorLocalization> Localizer { get; init; }

}
