@page "/not-found"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using WebGames.Web.Layout
@layout MainLayout
@attribute [AllowAnonymous]

<PageTitle>@(Localizer["Title"])</PageTitle>

<h1>@(Localizer["Title"])</h1>
<p>@(Localizer["Subtitle"])</p>
<a href="/">@(Localizer["Link"])</a>

@code {

	[Inject] public required IStringLocalizer<NotFoundLocalization> Localizer { get; init; }

}
