@page "/not-found"
@using Microsoft.Extensions.Localization
@using WebGames.Web.Components
@using WebGames.Web.Layout
@layout MainLayout

<AppPageTitle Title="@(Localizer["Title"])" />

<h1>@(Localizer["Title"])</h1>
<p>@(Localizer["Subtitle"])</p>
<a href="/">@(Localizer["Link"])</a>

@code {

	[Inject] public required IStringLocalizer<NotFoundLocalization> Localizer { get; init; }

}
