.empty {
	position: absolute;
	inset-block-end: 50%;
	inset-inline: 0;

	text-align: center;

	z-index: -1;
}

.empty ::deep > svg {
	font-size: 4rem;
	margin-block-end: var(--spacing-tiny);
}

.games {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: var(--spacing-medium);
}

.game {
	padding: var(--spacing-medium);

	border: var(--border-width) solid var(--border-color-body);
	border-radius: var(--border-radius);

	transition: background-color var(--animation-duration) var(--animation-curve);
}

.game:hover {
	background-color: var(--background-color-secondary);
}

.game-header {
	border-block-end: var(--border-width) solid var(--border-color-body);
}

.game:hover .game-header {
	border-block-end: var(--border-width) solid var(--border-color-hover);
}

.game-code {
	margin-block-end: 0;
}

.player-count {
	color: var(--color-secondary);
	font-size: var(--font-size-tiny);
	text-align: right;
}

.game > p {
	margin-block: 0 var(--spacing-small);
}

.game-actions {
	text-align: right;
}

@media (max-width: 700px) {
	.games {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 700px) and (max-width: 1000px) {
	.games {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1000px) and (max-width: 1200px) {
	.games {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1200px) and (max-width: 1450px) {
	.games {
		grid-template-columns: repeat(4, 1fr);
	}
}
