@using Microsoft.Extensions.Options
@using WebGames.Models

<p>Click the button/link to activate your account:</p>
<a href="@(Href)">Activate your account</a>

@code {

	public const string Subject = "Activate your account";

	[Inject] public required IOptions<AppOptions> App { get; init; }

	[Parameter] public required Guid Token { get; init; }

	private string Href =>
		new UriBuilder(App.Value.BaseUrl)
		{
			Path = $"/activate-account/{Token:D}",
		}.ToString();

}
