@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using WebGames.Models

<p>@(Localizer["Help"])</p>
<a href="@(Href)">@(Localizer["Link"])</a>

@code {

	[Inject] public required IOptions<AppOptions> App { get; init; }

	[Inject] public required IStringLocalizer<AccountConfirmationLocalization> Localizer { get; init; }

	[Parameter] public required Guid Token { get; init; }

	private string Href =>
		new UriBuilder(App.Value.BaseUrl)
		{
			Path = $"/activate-account/{Token:D}",
		}.ToString();

}
