@using Microsoft.Extensions.Options
@using WebGames.Models

<p>Click the button/link to configure a new password for your account:</p>
<a href="@(Href)">Reset password</a>

@code {

	public const string Subject = "Your password reset";

	[Inject] public required IOptions<AppOptions> App { get; init; }

	[Parameter] public required Guid ResetToken { get; init; }

	private string Href =>
		new UriBuilder(App.Value.BaseUrl)
		{
			Path = $"/reset-password/{ResetToken:D}",
		}.ToString();

}
