.betting-chip {
	--chip-color: var(--color-primary);

	position: relative;
	display: inline-block;
	line-height: 0;
	overflow: hidden;

	width: 1em;
	height: 1em;
	font-size: 6em;
}

.betting-chip svg {
	color: var(--chip-color);
	transform: unset;
}

.betting-chip .value {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;
	font-size: 0.25em;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: ui-serif, serif;
	font-weight: bold;
	color: #000;
}

.betting-chip.clickable {
	cursor: pointer;
	transform: translateY(0rem);
	transition: transform var(--animation-curve) var(--animation-duration-long);
}

.betting-chip.clickable:hover {
	transform: translateY(-.25rem);
}
