.card {
	--spacing: var(--spacing-medium);

	display: flex;
	flex-direction: column;
	gap: var(--spacing);

	padding: var(--spacing);

	background-color: var(--background-color-secondary);

	border: var(--border-width) solid var(--border-color-body);
	border-radius: var(--border-radius);
}

.card-header {
	border-block-end: var(--border-width) solid var(--border-color-body);
	padding-block-end: var(--spacing);
}

.card-header ::deep h1,
.card-header ::deep h2,
.card-header ::deep h3,
.card-header ::deep h4,
.card-header ::deep h5,
.card-header ::deep h6 {
	margin-block-end: 0;
}

.card-content {
	flex: 1;
}

.card-footer {
	padding-block-start: var(--spacing);
	border-block-start: var(--border-width) solid var(--border-color-body);

	text-align: right;
}
