.collapsable-container {
	overflow: hidden;
}

.collapsable-content {
	--content-height: 100%;

	margin-top: calc(var(--content-height) * -1);
	transition: margin-top var(--animation-duration-longer) var(--animation-curve);
}

.collapsable-content.visible {
	margin-top: 0;
}

.collapsable-chevron {
	transition: rotate var(--animation-duration-longer) var(--animation-curve);
}
