.collapsable-container {
	overflow: hidden;
}

.collapsable-content {
	margin-top: -100%;
	transition: margin-top var(--animation-duration-longer) var(--animation-curve);
}

.collapsable-content.visible {
	margin-top: 0;
}

.collapsable-chevron {
	transition: rotate var(--animation-duration-longer) var(--animation-curve);
}
