@using Microsoft.AspNetCore.Components.Forms

<EditForm EditContext="@(editContext)" OnValidSubmit="@(SignOutAsync)" FormName="@(SignOutForm.formName)">
	<button type="submit">@(Localizer["SignOut"])</button>
</EditForm>
