@page "/games/{code:required}"
@using WebGames.Extensions
@rendermode RenderModes.Interactive

@if (game is null)
{
	<p>Game not found.</p>
}
else
{
	<h1>Game @(game.Code)</h1>
	<p>@(game.State.ToString())</p>

	<ul>
		@foreach (var player in game.CurrentPlayers)
		{
			var key = $"player-{player.Id.Str()}";

			<li @key="@(key)">@(player.DisplayName)</li>
		}
	</ul>
}
