.game-actions {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--spacing-medium);

	margin-block-end: var(--spacing-medium);
}

.game-finished-alert {
	--y-start: -1500px;

	/* @todo Animate height so page moves smoothly */
	animation: bounceInDown 1s var(--animation-curve);
}
