.row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--spacing-small);

	padding-inline: var(--spacing-large);
}

.user {
	flex: 1;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--spacing-medium);
}

::deep .account-link {
	flex: 1;

	color: var(--color-body);

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.sign-out-btn {
	font-size: 0.625em;
}
