name: Test

on:
  push:
    tags-ignore:
      - '**'
    branches:
      - '**'
    paths:
      - '**.cs'
      - '**.csproj'
      - '.github/workflows/*.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to NuGet registry
        run: dotnet nuget update source github --username ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text
      - name: Install project dependencies
        run: dotnet restore
      - name: Run tests
        run: dotnet test WebGames.Tests --no-restore --output ./tests
      - name: Upload test results
        uses: actions/upload-artifact@v5
        with:
          name: TestResults
          path: tests/TestResults/*.log
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
